{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Mi Foto</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, magnam corporis! Consectetur, nesciunt aut ut facere maxime vitae expedita animi voluptas ipsa, distinctio saepe consequuntur debitis ipsum recusandae doloremque neque?</p>
    </div>  

    <div class="col-4">
        <img src="assets/img/javi.jpg" class="img-thumbnail">
    </div>  

</div>






{{> footer}}